*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

input{
    outline: none;
}

input[type="button"]{
    border: none;
}

ol,ul,li{list-style: none;}

a{
    text-decoration: none;
    color: black;
}

#wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

/* header*/
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border: 1px solid black;
}

.search {
    width: 50%;
    height: 30px;
    display: flex;
    max-width: 350px;
    border: 1px solid black;
}

.search input[type="text"]{
    width: calc(100% - 60px);
    border: none;
    border-right: 1px solid black;
    padding: 2px 8px;
}

.search input[type="button"]{
    background: url(../images/search.png) no-repeat center/contain;
    background-size: 20px 20px;
    width: 60px;
    height: 100%;
}

#header>div:nth-child(3){
    width: 95px;
}

/* nav */
nav{
    width: 100%;
    padding: 30px 0;
}

nav li a{
    color: gray;
    font-weight: bold;
}

nav > ul{
    display: flex;
    width: 100%;
    text-align: center;
}

nav > ul > li{
    flex: 1;
    position: relative;
}

nav > ul > li ul{
    display: none;
    position: absolute;
    top: 20px; 
    left: 10px;
    width: calc(100% - 20px);
    background: white;
    padding: 10px 0;
}

nav > ul li a:hover+ul{
    display: block;
}

nav > ul li ul:hover{
    display: block;
}

/* footer */
footer{
    height: 55px;
    width: 100%;
    padding: 16px;
}
footer ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer ul a{
    font-size: 16px;
    font-size: 700;
}

footer ul span::after{
    content: "|";
    color: black;
    margin: 0 10px;
}